mat-expansion-panel{
    padding: 20px 20px;
}

.accept-task-button-row{
    display: flex;
    justify-content: flex-end;
}

.accept-button-task{
    background-color: #f7de83 !important;
    color: #1e2137 !important;
    font-weight: bold !important;
}