<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-icon class="expansion-panel-tab-icon">done</mat-icon>
        <div class="col-md-9 mat-content-header">
            <mat-panel-title>
                Phase de tests
            </mat-panel-title>
            <mat-panel-description class="expansion-panel-text-passed">
                Passed
            </mat-panel-description>
        </div>
      </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
      <div class="accept-task-button-row">
        <button mat-raised-button class="accept-button-task">Finish</button>
      </div>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-icon class="expansion-panel-tab-icon">done</mat-icon>
        <div class="col-md-9 mat-content-header">
            <mat-panel-title>
                Phase de tests
            </mat-panel-title>
            <mat-panel-description class="expansion-panel-text-now">
                NOW
            </mat-panel-description>
        </div>
      </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
      <div class="accept-task-button-row">
        <button mat-raised-button class="accept-button-task">Finish</button>
      </div>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-icon class="expansion-panel-tab-icon">done</mat-icon>
        <div class="col-md-9 mat-content-header">
            <mat-panel-title>
                Phase de tests
            </mat-panel-title>
            <mat-panel-description class="expansion-panel-text-normal">
                15:00
            </mat-panel-description>
        </div>
      </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
      <div class="accept-task-button-row">
        <button mat-raised-button class="accept-button-task">Finish</button>
      </div>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-icon class="expansion-panel-tab-icon">done</mat-icon>
        <div class="col-md-9 mat-content-header">
            <mat-panel-title>
                Phase de tests
            </mat-panel-title>
            <mat-panel-description class="expansion-panel-text-normal">
                15:30
            </mat-panel-description>
        </div>
      </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
      <div class="accept-task-button-row">
        <button mat-raised-button class="accept-button-task">Finish</button>
      </div>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-icon class="expansion-panel-tab-icon">done</mat-icon>
        <div class="col-md-9 mat-content-header">
            <mat-panel-title>
                Phase de tests
            </mat-panel-title>
            <mat-panel-description class="expansion-panel-text-normal">
                17:00
            </mat-panel-description>
        </div>
      </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
      <div class="accept-task-button-row">
        <button mat-raised-button class="accept-button-task">Finish</button>
      </div>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-icon class="expansion-panel-tab-icon">done</mat-icon>
        <div class="col-md-9 mat-content-header">
            <mat-panel-title>
                Phase de tests
            </mat-panel-title>
            <mat-panel-description class="expansion-panel-text-normal">
                20:00
            </mat-panel-description>
        </div>
      </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
      <div class="accept-task-button-row">
        <button mat-raised-button class="accept-button-task">Finish</button>
      </div>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-icon class="expansion-panel-tab-icon">done</mat-icon>
        <div class="col-md-9 mat-content-header">
            <mat-panel-title>
                Phase de tests
            </mat-panel-title>
            <mat-panel-description class="expansion-panel-text-passed">
                Later
            </mat-panel-description>
        </div>
      </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
      <div class="accept-task-button-row">
        <button mat-raised-button class="accept-button-task">Finish</button>
      </div>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-icon class="expansion-panel-tab-icon">done</mat-icon>
        <div class="col-md-9 mat-content-header">
            <mat-panel-title>
                Phase de tests
            </mat-panel-title>
            <mat-panel-description class="expansion-panel-text-passed">
                Later
            </mat-panel-description>
        </div>
      </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
      <div class="accept-task-button-row">
        <button mat-raised-button class="accept-button-task">Finish</button>
      </div>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-icon class="expansion-panel-tab-icon">done</mat-icon>
        <div class="col-md-9 mat-content-header">
            <mat-panel-title>
                Phase de tests
            </mat-panel-title>
            <mat-panel-description class="expansion-panel-text-passed">
                Later
            </mat-panel-description>
        </div>
      </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
      <div class="accept-task-button-row">
        <button mat-raised-button class="accept-button-task">Finish</button>
      </div>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-icon class="expansion-panel-tab-icon">done</mat-icon>
        <div class="col-md-9 mat-content-header">
            <mat-panel-title>
                Phase de tests
            </mat-panel-title>
            <mat-panel-description class="expansion-panel-text-passed">
                Later
            </mat-panel-description>
        </div>
      </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
      <div class="accept-task-button-row">
        <button mat-raised-button class="accept-button-task">Finish</button>
      </div>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-icon class="expansion-panel-tab-icon">done</mat-icon>
        <div class="col-md-9 mat-content-header">
            <mat-panel-title>
                Phase de tests
            </mat-panel-title>
            <mat-panel-description class="expansion-panel-text-passed">
                Later
            </mat-panel-description>
        </div>
      </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
      <div class="accept-task-button-row">
        <button mat-raised-button class="accept-button-task">Finish</button>
      </div>
    </mat-expansion-panel>
</mat-accordion>