<div class="container">
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header class="right-aligned-header">
            <mat-icon class="expansion-panel-tab-icon">account_circle</mat-icon>
            <div class="col-md-9 mat-content-header">
                <mat-panel-title>
                    Username
                </mat-panel-title>
                <mat-panel-description class="expansion-panel-text-normal">
                    15:00
                </mat-panel-description>
            </div>
            </mat-expansion-panel-header>
            <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput rows="5" class="user-description"></textarea>
            </mat-form-field>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="slide-toggle-section">
        <div class="slide-toggle-input">
            <mat-icon class="expansion-panel-tab-icon">nights_stay</mat-icon>
            <mat-slide-toggle>Dark mode</mat-slide-toggle>
        </div>
        <div class="slide-toggle-input">
            <mat-icon class="expansion-panel-tab-icon">nights_stay</mat-icon>
            <mat-slide-toggle>Dark mode</mat-slide-toggle>
        </div>
        <div class="slide-toggle-input">
            <mat-icon class="expansion-panel-tab-icon">nights_stay</mat-icon>
            <mat-slide-toggle>Dark mode</mat-slide-toggle>
        </div>
    </div>
</div>

