.container{
    margin-top: 20px;
    display: flex;
}

mat-expansion-panel{
    padding: 20px 20px;
}

.expansion-panel-tab-icon{
    color: #c8cdda;
    font-size: 50px;
    width: 50px !important;
    height: 50px !important;
}

.slide-toggle-input .mat-icon{
    color: #c8cdda;
    font-size: 40px;
    width: 40px !important;
    height: 40px !important;
}

.mat-form-field{
    margin-top: 20px;
    width: 100%;
    color: #F0E68C;
}

mat-slide-toggle{
    display: block;
}

.slide-toggle-section{
    background-color: #1e2137;
}

.slide-toggle-section, .slide-toggle-section mat-slide-toggle{
    margin-top:30px;
}

.slide-toggle-section mat-slide-toggle:last-child{
    margin-bottom:30px;
}

.slide-toggle-section .slide-toggle-input{
    text-transform: uppercase;
    margin-left:20px;
    margin-right:20px;
}

.slide-toggle-input{
    display: flex;
    align-items: center;
}