/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: #F0E68C;
    height: 7px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mat-tab-body-wrapper{
    height: 100%;
}

.mat-tab-label{
    height: 70px !important;
}

.mat-tab-list, .mat-tab-labels{
    height: 100px !important;
}

.mat-tab-label.mat-tab-label-active .nav-tab-icon{
    transition: all 1s ease;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}

.mat-tab-labels{
    margin-top: 10px;
    justify-content: space-around !important;
}

.mat-tab-content{
    color: #ECF0F4;
    background-color: #24283b;
}
.mat-tab-group{
    height: 100vh;
}

.container > * {
    width: 90%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-aligned-header > .mat-content {
    justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
    flex: 0 0 auto;
    align-items: center;
}

.mat-content-header{
    width: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mat-expansion-panel-header-description{
    flex-grow: 1 !important;
    font-weight: bold;
    text-transform: uppercase;
}

.mat-expansion-panel-header-title{
    flex-grow: 9 !important;
    color: #c8cdda;
    text-transform: uppercase;
    font-weight: bold;
    font-size:17px;
}

.expansion-panel-tab-icon{
    color: #f7de83;
    font-size: 40px;
    width: 40px !important;
    height: 40px !important;
}

.mat-expansion-panel, .mat-expansion-panel-header{
    background-color: #1e2137 !important;
    background: #1e2137 !important;
    color: #c8cdda;
}

.mat-expansion-panel{
    margin-top: 30px !important;
}

.expansion-panel-text-now{
    color: #c9968c;
}

.expansion-panel-text-passed{
    color: #5a5e6b;
}

.expansion-panel-text-normal{
    color: #c8cdda;
}

/* SETTINGS */

.container .ng-star-inserted {
    color: #c8cdda !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #f7de83;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #f5d769;
}

.mat-slide-toggle-bar{
    margin-right: 20px !important;
}