<mat-tab-group mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label class="mat-tab-label-custom">
        <mat-icon class="nav-tab-icon">account_circle</mat-icon>
      </ng-template>
      <div class="mat-tab-content">
        <app-to-do-list-component></app-to-do-list-component>
      </div>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label class="mat-tab-label-custom">
        <mat-icon class="nav-tab-icon">history</mat-icon>
      </ng-template>
      <div class="mat-tab-content">
        Content 1
      </div>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label class="mat-tab-label-custom">
        <mat-icon class="nav-tab-icon">settings</mat-icon>
      </ng-template>
      <div class="mat-tab-content">
        <app-to-do-settings-component></app-to-do-settings-component>
      </div>
    </mat-tab>
</mat-tab-group>